@using LibMatrix.Homeservers.ImplementationDetails.Synapse.Models.Filters
@using MatrixUtils.Web.Shared.FilterComponents
<div style="margin-left: 8px; margin-bottom: 8px;">
    <u style="display: block;">String contains</u>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.RoomId" Label="Room ID"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.Name" Label="Room name"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.CanonicalAlias" Label="Canonical alias"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.Creator" Label="Creator"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.Version" Label="Room version"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.Encryption" Label="Encryption algorithm"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.JoinRules" Label="Join rules"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.GuestAccess" Label="Guest access"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.HistoryVisibility" Label="History visibility"/></span>
    <span class="tile tile280"><StringFilterComponent Filter="@Filter.Topic" Label="Topic"/></span>

    <u style="display: block;">Optional checks</u>
    <span class="tile tile150"><BooleanFilterComponent Filter="@Filter.Federation" Label="Is federated"/></span>
    <span class="tile tile150"><BooleanFilterComponent Filter="@Filter.Public" Label="Is public"/></span>
    <span class="tile tile150"><BooleanFilterComponent Filter="@Filter.Tombstone" Label="Is tombstoned"/></span>

    <u style="display: block;">Ranges</u>
    <span class="tile center-children">
        <InputCheckbox @bind-Value="@Filter.StateEvents.Enabled"/>
        @if (!Filter.StateEvents.Enabled) {
            <span>State events</span>
        }
        else {
            <InputCheckbox @bind-Value="@Filter.StateEvents.CheckGreaterThan"/>
            <span> </span>
            <InputNumber max="@int.MaxValue" class="int-input" TValue="int" @bind-Value="@Filter.StateEvents.GreaterThan"/>
            <span class="range-sep">state events</span>
            <InputCheckbox @bind-Value="@Filter.StateEvents.CheckLessThan"/>
            <InputNumber max="@int.MaxValue" class="int-input" TValue="int" @bind-Value="@Filter.StateEvents.LessThan"/>
        }
    </span>
    <span class="tile center-children">
        <InputCheckbox @bind-Value="@Filter.JoinedMembers.Enabled"/>
        @if (!Filter.JoinedMembers.Enabled) {
            <span>Joined members</span>
        }
        else {
            <InputCheckbox @bind-Value="@Filter.JoinedMembers.CheckGreaterThan"/>
            <span> </span>
            <InputNumber max="@int.MaxValue" class="int-input" TValue="int" @bind-Value="@Filter.JoinedMembers.GreaterThan"/>
            <span class="range-sep">members</span>
            <InputCheckbox @bind-Value="@Filter.JoinedMembers.CheckLessThan"/>
            <InputNumber max="@int.MaxValue" class="int-input" TValue="int" @bind-Value="@Filter.JoinedMembers.LessThan"/>
        }
    </span>
    <span class="tile center-children">
        <InputCheckbox @bind-Value="@Filter.JoinedLocalMembers.Enabled"/>
        <span> </span>
        @if (!Filter.JoinedLocalMembers.Enabled) {
            <span>Joined local members</span>
        }
        else {
            <InputCheckbox @bind-Value="@Filter.JoinedLocalMembers.CheckGreaterThan"/>
            <InputNumber max="@int.MaxValue" class="int-input" TValue="int" @bind-Value="@Filter.JoinedLocalMembers.GreaterThan"/>
            <span class="range-sep">local members</span>
            <InputCheckbox @bind-Value="@Filter.JoinedLocalMembers.CheckLessThan"/>
            <InputNumber max="@int.MaxValue" class="int-input" TValue="int" @bind-Value="@Filter.JoinedLocalMembers.LessThan"/>
        }
    </span>
</div>
@* @{ *@
@*     Console.WriteLine($"Rendered SynapseRoomQueryFilter with filter: {Filter.ToJson()}"); *@
@* } *@

@code {

    [Parameter]
    public required SynapseAdminLocalRoomQueryFilter Filter { get; set; }

}