@page "/Login"
@using MatrixRoomUtils.Core.Authentication
@using System.Text.Json
@using MatrixRoomUtils.Web.Shared.SimpleComponents
@inject ILocalStorageService LocalStorage
@inject IJSRuntime JsRuntime
<h3>Login</h3>
<hr/>

<span>
    <span>@@</span><!--
    --><FancyTextBox @bind-Value="@newRecordInput.username"></FancyTextBox><!--
    --><span>:</span><!--
    --><FancyTextBox @bind-Value="@newRecordInput.homeserver"></FancyTextBox>
</span>
<span style="display: block;">
    <label>Password:</label>
    <FancyTextBox @bind-Value="@newRecordInput.password" IsPassword="true"></FancyTextBox>
</span>
<button @onclick="AddRecord">Add account to queue</button>
<br/>

<InputFile OnChange="@FileChanged" accept=".tsv"></InputFile>
<br/>
<button @onclick="Login">Login</button>
<br/><br/>
<h4>Parsed records</h4>
<hr/>
<table border="1">
    @foreach (var (homeserver, username, password) in records) {
        <tr style="background-color: @(RuntimeCache.LoginSessions.Any(x => x.Value.LoginResponse.UserId == $"@{username}:{homeserver}") ? "green" : "unset")">
            <td style="border-width: 1px;">@username</td>
            <td style="border-width: 1px;">@homeserver</td>
            <td style="border-width: 1px;">@password.Length chars</td>
        </tr>
    }
</table>
<br/>
<br/>
<LogView></LogView>

@code {
    readonly List<(string homeserver, string username, string password)> records = new();
    (string homeserver, string username, string password) newRecordInput = ("", "", "");

    async Task Login() {
        foreach (var (homeserver, username, password) in records) {
            if (RuntimeCache.LoginSessions.Any(x => x.Value.LoginResponse.UserId == $"@{username}:{homeserver}")) continue;
            var result = await MatrixAuth.Login(homeserver, username, password);
            Console.WriteLine($"Obtained access token for {result.UserId}!");

            var userinfo = new UserInfo {
                LoginResponse = result
            };
            userinfo.Profile = await (await new AuthenticatedHomeServer(result.UserId, result.AccessToken, result.HomeServer).Configure()).GetProfile(result.UserId);
            RuntimeCache.LastUsedToken = result.AccessToken;

            RuntimeCache.LoginSessions.Add(result.AccessToken, userinfo);
            StateHasChanged();
        }

        await LocalStorageWrapper.SaveToLocalStorage(LocalStorage);
    }

    private async Task FileChanged(InputFileChangeEventArgs obj) {
        Console.WriteLine(JsonSerializer.Serialize(obj, new JsonSerializerOptions {
            WriteIndented = true
        }));
        await using var rs = obj.File.OpenReadStream();
        using var sr = new StreamReader(rs);
        var TsvData = await sr.ReadToEndAsync();
        records.Clear();
        foreach (var line in TsvData.Split('\n')) {
            var parts = line.Split('\t');
            if (parts.Length != 3)
                continue;
            records.Add((parts[0], parts[1], parts[2]));
        }
    }

    private void AddRecord() {
        records.Add(newRecordInput);
        newRecordInput = ("", "", "");
    }

}