@using LibMatrix.StateEventTypes.Spec
@using LibMatrix.Extensions
@inherits BaseTimelineItem

<p>
    @Event.Sender created the room with room version @CreationEventContent.RoomVersion
    @CreationEventContent.Federate ? "and" : "without" federating with other servers.<br/>
    This room is of type @(CreationEventContent.Type ?? "Untyped room (usually a chat room)")
</p>
<pre>
    @Event.RawContent?.ToJson(indent: false)
</pre>

@code {

    private RoomCreateEventData CreationEventContent => Event.TypedContent as RoomCreateEventData;

}
