@using LibMatrix.Extensions
@using ArcaneLibs.Extensions
@using LibMatrix.EventTypes.Spec.State
@inherits BaseTimelineItem

<p>
    @Event.Sender created the room with room version @CreationEventContent.RoomVersion
    @(CreationEventContent.Federate ?? false ? "and" : "without") federating with other servers.<br/>
    This room is of type @(CreationEventContent.Type ?? "Untyped room (usually a chat room)")
</p>
<pre>
    @Event.RawContent?.ToJson(indent: false)
</pre>

@code {

    private RoomCreateEventContent CreationEventContent => Event.TypedContent as RoomCreateEventContent;

}
