@page "/Rooms/{RoomId}/Timeline"
@using MatrixRoomUtils.Web.Shared.TimelineComponents
@using LibMatrix
@using LibMatrix.Responses
@using LibMatrix.StateEventTypes.Spec
<h3>RoomManagerTimeline</h3>
<hr/>
<p>Loaded @Events.Count events...</p>

@foreach (var evt in Events) {
    <div type="@evt.Type" key="@evt.StateKey" itemid="@evt.EventId">
        <DynamicComponent Type="@ComponentType(evt)"
                          Parameters="@(new Dictionary<string, object> { { "Event", evt }, { "Events", Events }, { "HomeServer", HomeServer!} })">
        </DynamicComponent>
    </div>
}

@code {

    [Parameter]
    public string RoomId { get; set; }

    private List<MessagesResponse> Messages { get; } = new();
    private List<StateEventResponse> Events { get; } = new();

    private AuthenticatedHomeServer? HomeServer { get; set; }

    protected override async Task OnInitializedAsync() {
        Console.WriteLine("RoomId: " + RoomId);
        HomeServer = await MRUStorage.GetCurrentSessionOrNavigate();
        if (HomeServer is null) return;
        var room = await HomeServer.GetRoom(RoomId);
        MessagesResponse? msgs = null;
        do {
            msgs = await room.GetMessagesAsync(limit: 1000, from: msgs?.End, dir: "b");
            Messages.Add(msgs);
            Console.WriteLine($"Got {msgs.Chunk.Count} messages");
            msgs.Chunk.Reverse();
            Events.InsertRange(0, msgs.Chunk);
        } while (msgs.End is not null);


        await base.OnInitializedAsync();
    }

    private StateEventResponse GetProfileEventBefore(StateEventResponse Event) => Events.TakeWhile(x => x != Event).Last(e => e.Type == "m.room.member" && e.StateKey == Event.Sender);

    private Type ComponentType(StateEvent Event) => Event.TypedContent switch {
        RoomMessageEventData => typeof(TimelineMessageItem),
        RoomMemberEventData => typeof(TimelineMemberItem),
        _ => typeof(TimelineUnknownItem)
        };

}
