@page "/"
@inject ILogger<Index> logger
@using LibMatrix.Responses
@using LibMatrix
@using ArcaneLibs.Extensions
@using ArcaneLibs
@using System.Diagnostics

<PageTitle>Index</PageTitle>

<h3>Rory&::MatrixUtils</h3>
Small collection of tools to do not-so-everyday things.

<br/><br/>
<h5>@totalSessions signed in sessions - <a href="/Login">Add new account</a></h5>
@if (scannedSessions != totalSessions) {
    <span>
        <span>@scannedSessions/@totalSessions</span>
        <progress max="@totalSessions" value="@scannedSessions"></progress>
    </span>
}
<hr/>
<form>
    <table>
        @foreach (var session in _sessions.OrderByDescending(x => x.UserInfo.RoomCount)) {
            var _auth = session.UserAuth;
            <tr class="user-entry">
                <td>
                    <img class="avatar" src="@session.UserInfo.AvatarUrl" crossorigin="anonymous"/>
                </td>
                <td class="user-info">
                    <p>
                        <input type="radio" name="csa" checked="@(_currentSession.AccessToken == _auth.AccessToken)" @onclick="@(() => SwitchSession(_auth))" style="text-decoration-line: unset;"/>
                        <b>@session.UserInfo.DisplayName</b> on <b>@_auth.Homeserver</b><br/>
                    </p>
                    <span style="display: inline-block; width: 128px;">@session.UserInfo.RoomCount rooms</span>
                    <a style="color: #888888" href="@("/ServerInfo/" + session.Homeserver.ServerName + "/")">@session.ServerVersion.Server.Name @session.ServerVersion.Server.Version</a>
                    @if (_auth.Proxy != null) {
                        <span class="badge badge-info"> (proxied via @_auth.Proxy)</span>
                    }
                    else {
                        <p>Not proxied</p>
                    }
                    @if (_debug) {
                        <p>T=@session.Homeserver.GetType().FullName</p>
                        <p>D=@session.Homeserver.WhoAmI.DeviceId</p>
                        <p>U=@session.Homeserver.WhoAmI.UserId</p>
                    }
                </td>
                <td>
                    <p>
                        <LinkButton OnClick="@(() => ManageUser(_auth))">Manage</LinkButton>
                        <LinkButton OnClick="@(() => RemoveUser(_auth))">Remove</LinkButton>
                        <LinkButton OnClick="@(() => RemoveUser(_auth, true))">Log out</LinkButton>
                    </p>
                </td>
            </tr>
        }
    </table>
</form>

@if (_offlineSessions.Count > 0) {
    <br/>
    <br/>
    <h5>Sessions on unreachable servers</h5>
    <hr/>
    <form>
        <table>
            @foreach (var session in _offlineSessions) {
                <tr class="user-entry">
                    <td>
                        <p>
                            @{
                                string[] parts = session.UserId.Split(':');
                            }
                            <span>@parts[0][1..]</span> on <span>@parts[1]</span>
                            @if (!string.IsNullOrWhiteSpace(session.Proxy)) {
                                <span class="badge badge-info"> (proxied via @session.Proxy)</span>
                            }
                        </p>
                    </td>
                    <td>
                        <LinkButton OnClick="@(() => RemoveUser(session))">Remove</LinkButton>
                    </td>
                </tr>
            }
        </table>
    </form>
}

@if (_invalidSessions.Count > 0) {
    <br/>
    <br/>
    <h5>Invalid sessions</h5>
    <hr/>
    <form>
        <table>
            @foreach (var session in _invalidSessions) {
                <tr class="user-entry">
                    <td>
                        <p>
                            @{
                                string[] parts = session.UserId.Split(':');
                            }
                            <span>@parts[0][1..]</span> on <span>@parts[1]</span>
                            @if (!string.IsNullOrWhiteSpace(session.Proxy)) {
                                <span class="badge badge-info"> (proxied via @session.Proxy)</span>
                            }
                        </p>
                    </td>
                    <td>
                        <LinkButton OnClick="@(() => RemoveUser(session))">Remove</LinkButton>
                    </td>
                </tr>
            }
        </table>
    </form>
}

@code
{
#if DEBUG
    private const bool _debug = true;
#else
    private const bool _debug = false;
#endif

    private class AuthInfo {
        public UserAuth? UserAuth { get; set; }
        public UserInfo? UserInfo { get; set; }
        public ServerVersionResponse? ServerVersion { get; set; }
        public AuthenticatedHomeserverGeneric? Homeserver { get; set; }
    }

    // private Dictionary<UserAuth, UserInfo> _users = new();
    private readonly List<AuthInfo> _sessions = [];
    private readonly List<UserAuth> _offlineSessions = [];
    private readonly List<UserAuth> _invalidSessions = [];
    private LoginResponse? _currentSession;
    int scannedSessions = 0, totalSessions = 1;
    private SvgIdenticonGenerator _identiconGenerator = new();

    protected override async Task OnInitializedAsync() {
        Console.WriteLine("Index.OnInitializedAsync");
        _currentSession = await RMUStorage.GetCurrentToken();
        _sessions.Clear();
        _offlineSessions.Clear();
        var tokens = await RMUStorage.GetAllTokens();
        scannedSessions = 0;
        totalSessions = tokens.Count;
        if (tokens is not { Count: > 0 }) {
            Console.WriteLine("No tokens found, trying migration from MRU...");
            await RMUStorage.MigrateFromMRU();
            tokens = await RMUStorage.GetAllTokens();
            if (tokens is not { Count: > 0 }) {
                Console.WriteLine("No tokens found");
                return;
            }
        }

        List<string> offlineServers = [];
        var sema = new SemaphoreSlim(64, 64);
        var updateSw = Stopwatch.StartNew();
        var tasks = tokens.Select(async token => {
            await sema.WaitAsync();
            if ((!string.IsNullOrWhiteSpace(token.Proxy) && offlineServers.Contains(token.Proxy)) || offlineServers.Contains(token.Homeserver)) {
                _offlineSessions.Add(token);
                sema.Release();
            scannedSessions++;
                return;
            }

            AuthenticatedHomeserverGeneric hs;
            try {
                hs = await hsProvider.GetAuthenticatedWithToken(token.Homeserver, token.AccessToken, token.Proxy);
                var joinedRoomsTask = hs.GetJoinedRooms();
                var profileTask = hs.GetProfileAsync(hs.WhoAmI.UserId);
                var serverVersionTask = hs.FederationClient?.GetServerVersionAsync();
                _sessions.Add(new() {
                    UserInfo = new() {
                        AvatarUrl = string.IsNullOrWhiteSpace((await profileTask).AvatarUrl) ? _identiconGenerator.GenerateAsDataUri(hs.WhoAmI.UserId) : hs.ResolveMediaUri((await profileTask).AvatarUrl),
                        RoomCount = (await joinedRoomsTask).Count,
                        DisplayName = (await profileTask).DisplayName ?? hs.WhoAmI.UserId
                    },
                    UserAuth = token,
                    ServerVersion = await (serverVersionTask ?? Task.FromResult<ServerVersionResponse?>(null)!),
                    Homeserver = hs
                });
                if (updateSw.ElapsedMilliseconds > 250) {
                    updateSw.Restart();
                    StateHasChanged();
                }
            }
            catch (MatrixException e) {
                if (e is { ErrorCode: "M_UNKNOWN_TOKEN" }) _invalidSessions.Add(token);
                else throw;
            }
            catch {
                if (!string.IsNullOrWhiteSpace(token.Proxy)) {
                    offlineServers.Add(token.Proxy);

                    sema.Release();
                    return;
                }

                offlineServers.Add(token.Homeserver);
            }

            scannedSessions++;
            sema.Release();
        }).ToList();
        await Task.WhenAll(tasks);
        scannedSessions = totalSessions;
        
        await base.OnInitializedAsync();
    }

    private class UserInfo {
        internal string AvatarUrl { get; set; }
        internal string DisplayName { get; set; }
        internal int RoomCount { get; set; }
    }

    private async Task RemoveUser(UserAuth auth, bool logout = false) {
        try {
            if (logout) {
                await (await hsProvider.GetAuthenticatedWithToken(auth.Homeserver, auth.AccessToken, auth.Proxy)).Logout();
            }
        }
        catch (Exception e) {
            if (e is MatrixException { ErrorCode: "M_UNKNOWN_TOKEN" }) {
                //todo: handle this
                return;
            }

            Console.WriteLine(e);
        }

        await RMUStorage.RemoveToken(auth);
        if ((await RMUStorage.GetCurrentToken())?.AccessToken == auth.AccessToken)
            await RMUStorage.SetCurrentToken((await RMUStorage.GetAllTokens() ?? throw new InvalidOperationException()).FirstOrDefault());
        // await OnInitializedAsync();
        StateHasChanged();
    }

    private async Task SwitchSession(UserAuth auth) {
        Console.WriteLine($"Switching to {auth.Homeserver} {auth.UserId} via {auth.Proxy}");
        await RMUStorage.SetCurrentToken(auth);
        _currentSession = auth;
        // await OnInitializedAsync();
        StateHasChanged();
    }

    private async Task ManageUser(UserAuth auth) {
        await SwitchSession(auth);
        NavigationManager.NavigateTo("/User/Profile");
    }
}